* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

body {
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.box1 {
    
    background-color: red;
    grid-row: 1 / 8;
    grid-column: 1 / 2;
}
.box2 {
    
    background-color: blue; 
    grid-row: 1 / 14;
    grid-column: 2 / 4;   
}
.box3 {
    
    background-color: white;
    grid-column: 4 / 6;
    grid-row: 10 / 14;
        
}
.box4 {
    
    background-color: yellow;
    grid-row: 8 / 17;
    grid-column: 1 / 2;    
}
.box5 {
    
    background-color: blue;
    grid-row: 7 / 14;
    grid-column: 9 / 16;    
}
.box6 {
    
    background-color: white;
    grid-row: 1 / 17;
    grid-column: 16 / 17;    
}
.box7 {
    
    background-color: white;
    grid-row: 1 / 10;
    grid-column: 5 / 8;    
}
.box8 {
    
    background-color: yellow;
    grid-row: 1 / 7;
    grid-column: 7 / 16;    
}
.box9 {
    
    background-color: white;
    grid-row: 14 / 17;
    grid-column: 12 / 16;
}
.box10 {
    
    background-color: red; 
    grid-row: 14 / 17;
    grid-column: 2 / 12;   
}
.box11 {
    
    background-color: black;
    grid-row: 7 / 14;
    grid-column: 6 / 9;    
}
.box12 {
    
    background-color: red;
    grid-row: 1 / 10;
    grid-column: 4 / 6;    
}
